@import 'add-car-menu';
@import 'appearance';
@import 'appearance-form';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ebeff4;
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  border-bottom: 1px solid #dde2e9;
  padding: 0 40px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  background: #fff;
}

.header__logo {
  font-size: 28px;
  text-decoration: none;
  align-self: center;
  margin-right: 30px;
}

.header__logo p:not(.header__logo--grey) {
  color: #1f79ed;
}

.header__logo--grey {
  color: #3c3d41;
}

.menu {
  display: flex;
  align-self: center;
  justify-content: space-between;
  flex: 1;

  .item {
    display: block;
    font-size: 13px;
    color: #000;
    text-decoration: none;
    padding: 4px;
    &.active {
      background: blue;
      color: #fff;
    }
  }
}

.content-wrapper {
  flex: 1;
  width: 100%;
  background: #fff;
  max-width: 900px;
  margin: 20px auto 30px;
  box-shadow: 0 1px 0 0 rgba(4, 26, 55, 0.06);
  border-radius: 5px;
  padding: 20px 30px;
}

.footer {
  border: 1px solid black;
}
