.car-list {

  width: 100%;

  & > div {
    padding:20px 30px 10px;
    background:#ffffff;
    border-bottom:1px solid #dde2e9;
    border-radius:5px;
  }

  ul {
    margin:0 0 10px 16px;
    padding:0;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul li {
    padding:0;
    list-style:none;
  }

  p {
    text-indent:0;
    padding:0;
    margin:0 0 16px;
  }

  .car-row
  {
    position:relative;
    min-height:181px;
    padding:22px 480px 11px 260px;
    box-shadow: border-box;
    box-sizing:border-box;
    margin:20px 0 0;

    &:after{
      content:'';
      position:absolute;
      right:239px;
      top:20px;
      width:1px;
      height:140px;
      background:#e8e8e8;
    }

    .car-row__desc
    {
      max-width:300px;
      font-family:'Arial', sans-serif;

      h2{
        position:relative;
        font-size:18px;
        line-height:24px;
        font-weight:normal;
        letter-spacing:1px;
        padding:0 0 19px;
        margin:0 0 20px;

        &:after{
          content:'';
          position:absolute;
          left:0;
          bottom:0;
          width:140px;
          height:1px;
          background:#e8e8e8;
        }
      }

      p{
        color:#959595;
        font-size:14px;
        line-height:20px;
        margin:0 0 10px;
      }
    }

    .car-row__pic
    {
      overflow:hidden;
      position:absolute;
      left:10px;
      top:10px;
      width:220px;
      height:160px;
      border-radius:2px;

      img{
        position:absolute;
        left:0;
        top:0;
        min-width:220px;
        min-height:160px;
      }
    }


    .car-row__make-bid {
      position:absolute;
      right:30px;
      top:100px;
      width:180px;
      /*background:#1f79ed;*/
    }

    .car-row__accept {
      position:absolute;
      right:30px;
      top:30px;
      width:180px;
    }

    .car-row__decline {
      position:absolute;
      right:30px;
      top:100px;
      width:180px;
      background:#ed7576;
    }

    .car-row__your-status {
      position:absolute;
      right:30px;
      top:42px;
      /*width:130px;*/
      color:#1c1a1d;
      font-size:14px;
      line-height:18px;
      padding:0 0 0 50px;
      margin:0;

      .status-ok {
        position:absolute;
        left:0;
        top:-6px;
        display:block;
        width:30px;
        height:30px;
        background:url('../images/status-ok-icon.png') no-repeat center center;
      }
      .status-warning {
        position:absolute;
        left:0;
        top:-6px;
        display:block;
        width:30px;
        height:30px;
        background:url('../images/status-warning-icon.png') no-repeat center center;
      }
    }

    .car-row__data {
      position:absolute;
      right:270px;
      top:28px;
      width:180px;
      font-family:'Arial', sans-serif;
      margin:0;

      .sold{
        right:30px;
      }

      .price{
        right:30px;
        top:108px;
      }

      li{
        position:relative;
        padding:0 0 0 50px;
        margin:33px 0 0;

        &:first-child{
          margin-top:0;
        }

        i{
          position:absolute;
          left:0;
          top:8px;
          display:block;
          width:30px;
          height:30px;
        }

        .rouble-icon {
          background:url('../images/rouble-icon.png') no-repeat center center;
        }

        .clock-icon {
          background:url('../images/clock-icon.png') no-repeat center center;
        }

        .user-icon {
          background:url('../images/user-icon.png') no-repeat center center;
        }

        p {
          color:#959595;
          font-size:12px;
          line-height:16px;
          margin:0;
        }

        h3 {
          color:#1c1a1d;
          font-size:18px;
          line-height:22px;
          font-weight:normal;
          padding:0;
          margin:9px 0 0;
          em.rouble {
            position:relative;
            font-style:normal;

            &:after
            {
              content:'';
              position:absolute;
              left:0;
              bottom:6px;
              width:8px;
              height:1px;
              background:#1c1a1d;
            }
          }
        }

        h5 {
          color:#1c1a1d;
          font-size:14px;
          line-height:18px;
          font-weight:normal;
          padding:0;
          margin:12px 0 0;
        }
      }
    }

    .car_row__fail {
      position:absolute;
      right:30px;
      top:62px;
      width:180px;
      color:#1c1a1d;
      font-size:18px;
      line-height:24px;
      font-family:'Arial', sans-serif;
      text-align:center;
      margin:0;

      span {
        display:block;
        margin:10px 0 0;
        &:first-child{
          margin-top:0;
        }
      }
    }

  }

}

