.exterior-functional__item {
	display: flex;
	align-items: baseline;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 25px;
	margin-bottom: 30px;

	.exterior-functional__label {
		flex: 1;
		font-size: 14px;
		padding-left: 15px;
		padding-right: 15px;
	}

}
