.photo-upload {
  display: flex;
  margin-bottom: 20px;

  .photo-upload__item {
    position: relative;
    margin-right: 35px;
    background: #000;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 80px;
    width: 80px;
    text-align: center;

    .photo-upload__remove {
      position: absolute;
      right: -5px;
      top: -5px;
      height: 20px;
      width: 20px;
      border: none;
      outline: none;
      background: url("../images/remove.png");
      cursor: pointer;
    }

    .photo-upload__picture {
      max-width: 80px;
      max-height: 80px;
      margin: 0 auto;
    }
  }

  .photo-upload__btn {
    .photo-upload__hidden-field input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    .photo-upload__link {
      width: 80px;
      height: 80px;
      font-size: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      padding: 28px 34px;
      color: #959595;
      background: #ebebeb;
      border-radius: 5px;
    }
  }
}
