.table-photo {
	height: 150px;
	width: 150px;

	position: relative;
	&__link {
		top: 0;
		position: absolute;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid black;
		height: 150px;
		width: 150px;
	}
	&__link:first-child {
		z-index: 2;
	}
	&__length {
		position: absolute;
		background: red;
		color: #fff;
		top: -10px;
		right: -10px;
	}
	&__picture {
		max-height: 100%;
		max-width: 100%;
	}

}